
:host {
  direction: rtl;
}

:host ::ng-deep .ngb-dp-weekday {
  margin: .5em;
}

:host ::ng-deep .ngb-dp-day {
  cursor: pointer;
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  background: transparent;
  margin: .5em;
  font-size: 80%;
}

:host ::ng-deep .ngb-dp-day.day-disabled {
  /* cursor: default;
  background: #e3e3e3; */
}

:host ::ng-deep .day-disabled {
  cursor: default;
  background: #e3e3e3;
}

:host ::ng-deep .dropdown-menu.show {
  top: 2.5rem !important;
  left: 0 !important;
  direction: ltr;
}

.input-date-picker {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: none;
}



.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
