<ng-template #modalContent let-close="close">
  <div class="modal-container">
    <div class="modal-header">
      <h5 class="modal-title">{{modalData?.event.customer_name}} {{modalData?.event.installation_date | date : 'dd-MM-yyy'}}</h5>
      <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="label-field" for="eged">מספר פרויקט</label>
            <div readonly class="form-control" id="eged">{{modalData?.event.eged}}</div>
          </div>
          <div class="form-group">
            <label class="label-field" for="customer_name">שם לקוח</label>
            <div readonly class="form-control" id="customer_name">{{modalData?.event.customer_name}}</div>
          </div>
          <div class="form-group">
            <label class="label-field" for="line_code">מספר קו</label>
            <div readonly class="form-control" id="line_code">{{modalData?.event.line_code}}</div>
          </div>
          <div class="form-group">
            <label class="label-field" for="referant">שם הרפרנט</label>
            <div readonly class="form-control" id="referant">{{modalData?.event.referant}}</div>
          </div>
          <!-- <div class="form-group">
            <label class="label-field" for="referant">שם היועץ</label>
            <div readonly class="form-control" id="referant">{{modalData?.event.referant}}</div>
          </div> -->
          <div class="form-group">
            <label class="label-field" for="technician">שם הטכנאי</label>
            <div readonly class="form-control" id="technician">{{modalData?.event.technician}}</div>
          </div>
          <div class="form-group">
            <label class="label-field" for="installation_initiator">מנהל פרוייקט</label>
            <div readonly class="form-control" id="installation_initiator">{{modalData?.event.installation_initiator}}</div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
              <label class="label-field" for="installation_date">תאריך ההפעלה</label>
              <div readonly class="form-control" id="installation_date">{{modalData?.event.installation_date | date : 'dd-MM-yyy'}}</div>
            </div>
            <div class="col-6 form-group">
              <label class="label-field" for="installation_time">שעת ההתקנה</label>
              <div readonly class="form-control" id="installation_time">{{modalData?.event.installation_time}}</div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label class="label-field" for="fortigate_type">סוג ה-Fortigate</label>
            <div readonly class="form-control" id="fortigate_type">{{modalData?.event.fortigate_type}}</div>
          </div>

          <div class="form-group">
            <label class="label-field" for="fortigate_installation_type">סוג הפעלה</label>
            <div readonly class="form-control" id="fortigate_installation_type">{{modalData?.event.fortigate_installation_type}}</div>
          </div>
<!--
          <div class="form-group" *ngIf="isShowpreparationPicker && (event.fortigate_installation_type.days_need_before > 0)">
            <div class="days_need_before_alert">להפעלה זו נדרשים {{event.fortigate_installation_type.days_need_before}} ימי הכנה</div>
            <label class="label-field" for="preparation_days">ימי הכנה</label>
            <app-heb-date-picker [(ngModel)]="event.preparation_days" name="'preparation_days'" [disabledDates]="disabledDates" [coutDaysPermited]="event.fortigate_installation_type.days_need_before"
              [onlyDateBefore]="event.installation_day" [disableSpecificDay]="event.installation_day">
            </app-heb-date-picker>
          </div>

          <div class="form-group">
            <label class="label-field" for="installation_remarks">הערות</label>
            <textarea class="form-control" id="installation_remarks" name="installation_remarks" [(ngModel)]="event.installation_remarks"></textarea>
          </div> -->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">OK</button>
    </div>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false"
        (viewDateChange)="fetchEvents()">
        הקודם
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="fetchEvents()">
        היום
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false"
        (viewDateChange)="fetchEvents()">
        הבא
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'he' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
        חודש
      </div>
      <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
        שבוע
      </div>
      <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
        יום
      </div>
    </div>
  </div>
</div>
<br>


<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [locale]="locale"
    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)" (beforeViewRender)="beforeMonthViewRender($event)" [cellTemplate]="customCellTemplate">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>


<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    <button type="button" class="add-installation-btn" (click)="addNewInstallation(day.date)" *ngIf="isDayCanCreateEvent(day.date)">
      <i class="fa fa-fw fa-plus-circle"></i>
    </button>
  </div>
</ng-template>

<br>
<br>
<br>
