:host {
  /* direction: rtl;
  text-align: right; */
}

.container {
  direction: rtl;
  text-align: right;
}

.form-container {
}

.label-field {
  font-weight: bold;
}

.days_need_before_alert {
  color: rgba(255,5,5,1);
  font-weight: bold;
  text-decoration: underline;
}

app-date-time-picker,
ngb-timepicker,
app-heb-date-picker,
.datepicker {
  direction: ltr;
  text-align: right;
}
